.input-style {
  color: white;
  width: 100%;
  padding: 5px;
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  transition: border 0.2s ease-in-out;
  font-size: 13px;
}

.input-style:focus {
  border-color: #58a6ff;
  outline: none;
  box-shadow: 0 0 4px rgba(88, 166, 255, 0.6);
}

.input-container {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
